# File bersama yang berisiko; perubahan butuh approval salah satu code owner.
/ProjectSettings/ @GhazaGG @RyoFPS
/Packages/ @GhazaGG @RyoFPS
/.gitignore @GhazaGG @RyoFPS
/.gitattributes @GhazaGG @RyoFPS
/.github/ @GhazaGG @RyoFPS
